<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE suite SYSTEM "https://testng.org/testng.dtd"-->

<suite name="API Test Suite">

    <listeners>
        <listener class-name="utils.ExtentReporter"/>
    </listeners>

    <test name="API Tests" thread-count="2">
        <classes>
            <class name="testcases.MainBaseClass"/>
        </classes>
    </test>

</suite>
